# Entornos virtuales
venv/
env/
.env

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos de base de datos local (muy importante)
db.sqlite3

# Archivos de configuración de IDEs
.vscode/
.idea/
.DS_Store